extends ../partials/header
block main
  .hello-node101-wrapper(class=`${!is_hello_shown ? '' : 'display-none'}`)
    //- .hello-node101-text= __('hello, we\'re')
    //- img.hello-node101-logo(src='/img/hello-we-are.svg' alt='hello we\'re text')
    //- img.hello-node101-logo(src='/img/logo-purple.svg' alt='node101 logo')
    svg.hello-node101-text(viewbox='0 0 380 64' fill='none' xmlns='http://www.w3.org/2000/svg')
      -
        const paths = [
          'M20.7506 21.7882C15.9088 21.7882 11.6204 24.2091 6.91688 27.9442V54.1592H0V0H6.91688V21.0965C11.2053 17.8455 15.8397 15.2171 20.2665 15.2171C28.9126 15.2171 35.1377 20.0589 35.1377 29.9501V54.1592H28.2209V29.5351C28.2209 25.4541 25.5925 21.7882 20.7506 21.7882Z',
          'M58.6827 47.6573C65.3229 47.6573 68.7122 44.1989 69.888 42.8155L74.1073 48.1415C73.2773 49.179 68.643 54.3667 58.6827 54.3667C47.8924 54.3667 39.2463 45.7897 39.2463 34.7227C39.2463 24.0016 47.754 15.2171 58.5444 15.2171C68.9197 15.2171 77.2891 23.6557 77.2891 34.7227C77.2891 35.5528 77.2199 36.7286 77.1508 37.2128H46.3707C47.6157 43.1613 52.5958 47.6573 58.6827 47.6573ZM58.5444 22.134C52.7342 22.134 48.0307 25.8 46.6473 30.7801H69.7497C68.9197 26.1458 64.2162 22.134 58.5444 22.134Z',
          'M88.2821 0V54.1592H81.3652V1.38338L88.2821 0Z',
          'M100.054 0V54.1592H93.1374V1.38338L100.054 0Z',
          'M124.277 15.2171C134.998 15.2171 144.336 24.0016 144.336 34.7227C144.336 45.5822 134.998 54.3667 124.277 54.3667C113.487 54.3667 104.149 45.5822 104.149 34.7227C104.149 24.0016 113.487 15.2171 124.277 15.2171ZM124.277 22.134C117.222 22.134 111.066 27.8059 111.066 34.7227C111.066 41.778 117.222 47.4498 124.277 47.4498C131.332 47.4498 137.419 41.778 137.419 34.7227C137.419 27.8059 131.332 22.134 124.277 22.134Z',
          'M148.913 49.5249C148.913 47.0348 151.058 45.4439 153.755 45.4439C157.421 45.4439 158.874 47.934 158.874 51.1849C158.874 57.0643 155 61.2144 152.579 63.3586L150.781 61.8369C152.856 59.7618 154.032 57.1334 154.032 55.1967C154.032 54.6433 153.963 54.1592 153.755 53.7442C150.504 53.7442 148.913 52.0149 148.913 49.5249Z',
          'M193.224 54.1592L181.673 15.4246H188.59L198.135 47.2423H199.588L207.058 22.3415H218.194L225.664 47.2423H227.117L236.662 15.4246H243.579L232.028 54.1592H220.753L213.352 29.2584H211.9L204.499 54.1592H193.224Z',
          'M263.822 47.6573C270.462 47.6573 273.852 44.1989 275.028 42.8155L279.247 48.1415C278.417 49.179 273.783 54.3667 263.822 54.3667C253.032 54.3667 244.386 45.7897 244.386 34.7227C244.386 24.0016 252.894 15.2171 263.684 15.2171C274.059 15.2171 282.429 23.6557 282.429 34.7227C282.429 35.5528 282.359 36.7286 282.29 37.2128H251.51C252.755 43.1613 257.735 47.6573 263.822 47.6573ZM263.684 22.134C257.874 22.134 253.17 25.8 251.787 30.7801H274.889C274.059 26.1458 269.356 22.134 263.684 22.134Z',
          'M286.989 5.326C286.989 2.83592 289.133 1.24504 291.831 1.24504C295.497 1.24504 296.949 3.73512 296.949 6.98605C296.949 12.8654 293.076 17.0155 290.655 19.1598L288.856 17.638C290.932 15.563 292.107 12.9346 292.107 10.9978C292.107 10.4445 292.038 9.9603 291.831 9.54529C288.58 9.54529 286.989 7.81608 286.989 5.326Z',
          'M309.179 54.1592H302.262V15.4246H307.796L308.833 21.0965C312.776 17.9147 317.894 15.2171 322.321 15.2171C327.855 15.2171 331.313 16.6697 332.835 17.5689V26.4225H327.094L326.61 22.549C326.125 22.2032 324.673 21.6498 322.321 21.6498C317.479 21.6498 313.606 24.2091 309.179 27.9442V54.1592Z',
          'M356.352 47.6573C362.992 47.6573 366.381 44.1989 367.557 42.8155L371.776 48.1415C370.946 49.179 366.312 54.3667 356.352 54.3667C345.561 54.3667 336.915 45.7897 336.915 34.7227C336.915 24.0016 345.423 15.2171 356.213 15.2171C366.589 15.2171 374.958 23.6557 374.958 34.7227C374.958 35.5528 374.889 36.7286 374.82 37.2128H344.04C345.285 43.1613 350.265 47.6573 356.352 47.6573ZM356.213 22.134C350.403 22.134 345.7 25.8 344.316 30.7801H367.419C366.589 26.1458 361.885 22.134 356.213 22.134Z'
        ]
        const delays = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 1, 1.1, 1.2, 1.3, 1.4]
      each path, i in paths
        path(d=path style=`animation-delay: ${delays[i]}s;`)
    svg.hello-node101-logo(viewbox='0 0 65 39' fill='none' xmlns='http://www.w3.org/2000/svg' style=`animation-delay: 1.5s;`)
      path(d='M0.517218 38.363H8.52374C8.80648 38.363 9.04096 38.0907 9.04096 37.7572V0.605803C9.04096 0.272271 8.80648 0 8.52374 0H0.517218C0.234472 0 0 0.272271 0 0.605803V37.7572C0 38.0907 0.234472 38.363 0.517218 38.363Z' fill='#ac96ea')
      path(d='M56.4762 38.363H64.4827C64.7655 38.363 64.9999 38.0907 64.9999 37.7572V0.605803C64.9999 0.272271 64.7655 0 64.4827 0H56.4762C56.1935 0 55.959 0.272271 55.959 0.605803V37.7572C55.959 38.0907 56.1935 38.363 56.4762 38.363Z' fill='#ac96ea')
      path(d='M29.1234 8.08186C28.6056 5.55859 28.0945 3.05577 27.5767 0.525677C28.9394 0.184694 30.268 0.00738255 31.6171 0.000562889C36.7273 -0.0335354 41.3332 1.48043 45.2033 4.84934C48.6305 7.83636 50.6677 11.6622 51.3286 16.1768C51.9418 20.3709 51.349 24.3877 49.3527 28.1385C46.4706 33.5397 42.0145 36.9222 36.0255 38.1839C31.8897 39.0568 27.8561 38.5794 24.0405 36.7586C19.2711 34.4808 15.8098 30.9005 14.086 25.8744C11.6604 18.7887 16.3344 11.0689 23.7271 9.82088C27.4677 9.18665 30.8676 10.005 33.7566 12.5283C36.0664 14.5469 37.6607 17.0156 38.2399 20.0845C38.4443 21.1893 38.4647 22.294 38.3557 23.4125C38.3284 23.7057 38.1785 23.7671 37.9264 23.7944C35.7393 24.0331 33.559 24.2786 31.3718 24.5241C30.8813 24.5786 30.3975 24.6332 29.9001 24.6877C30.0841 24.1558 30.3021 23.6716 30.4111 23.167C30.8676 21.1483 29.9478 19.2866 28.0605 18.1818C26.0232 16.9952 24.0814 17.5748 22.8345 18.7069C21.3287 20.0777 20.9404 22.219 21.8193 24.0672C23.8565 28.3294 28.1218 30.88 32.8436 30.6481C38.0559 30.3958 42.6073 26.3858 43.4658 21.237C44.0995 17.4248 43.1115 14.0695 40.4747 11.2394C38.8122 9.45262 36.8363 8.17734 34.3698 7.80226C32.7005 7.54993 31.0584 7.69314 29.4164 8.03413C29.3278 8.05459 29.2392 8.06141 29.1234 8.08186Z' fill='#ac96ea')
  .content-inner-wrapper
    .start-page-background(style=`${!is_hello_shown ? '--start-page-background-global-delay: calc(1.2 * var(--hello-node101-opacity-animation-duration))' : ''}`)
      .start-page-background-inner-wrapper
        .start-page-background-shape-one-wrapper
          svg.start-page-background-shape-one(viewbox='0 0 755 747' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M746.781 641.412C609.904 718.184 535.009 739.688 390.57 729.514C249.613 719.596 136.997 621.716 65.9475 498.373C-11.6865 363.608 21.8524 246.676 24.9619 77.9549C25.4327 52.3231 26.13 26.684 27.1477 0.999761' stroke='url(#paint0_linear_68_1510)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_68_1510(x1='-1860.33' y1='-1791.59' x2='1604.06' y2='1352.99' gradientunits='userSpaceOnUse')
                stop(stop-color='#947E8A')
                stop(offset='1' stop-color='#DFE5FF')
        .start-page-background-shape-two-wrapper
          svg.start-page-background-shape-two(viewbox='0 0 699 255' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M684.589 250.119C643.51 106 497.836 43.9581 370.996 19.8956C270.105 0.758287 109.123 52.4698 7.99991 109.169' stroke='url(#paint0_linear_69_1512)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_69_1512(x1='-2599.1' y1='-2323.83' x2='865.283' y2='820.744' gradientunits='userSpaceOnUse')
                stop(stop-color='#947E8A')
                stop(offset='1' stop-color='#DFE5FF')
        .start-page-background-shape-three-wrapper
          svg.start-page-background-shape-three(viewbox='0 0 100 300' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M13.1216 290.91C71.8701 206.315 100.424 95.7198 74.5178 4.9999' stroke='url(#paint0_linear_69_1514)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_69_1514(x1='-3209.17' y1='-2568.95' x2='255.213' y2='575.624' gradientunits='userSpaceOnUse')
                stop(stop-color='#947E8A')
                stop(offset='1' stop-color='#DFE5FF')
        .start-page-background-shape-four-wrapper
          svg.start-page-background-shape-four(viewbox='0 0 498 203' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M25.3562 6.06469C-5.65223 89.1754 42.6004 154.947 107.127 175.522C230.673 214.94 394.325 154.099 485.064 23.4341' stroke='url(#paint0_linear_69_1513)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_69_1513(x1='-2737.23' y1='-2836.43' x2='727.155' y2='308.149' gradientunits='userSpaceOnUse')
                stop(stop-color='#947E8A')
                stop(offset='1' stop-color='#DFE5FF')
        .start-page-background-shape-five-wrapper
          svg.start-page-background-shape-five(viewbox='0 0 617 473' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M601.747 469.082C567.652 301.181 493.14 149.03 337.893 62.6248C202.088 -16.3608 52.8544 6.91536 14.6732 109.231' stroke='url(#paint0_linear_70_1515)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_70_1515(x1='-2747.91' y1='-2733.27' x2='716.475' y2='411.311' gradientunits='userSpaceOnUse')
                stop(stop-color='#947E8A')
                stop(offset='1' stop-color='#DFE5FF')
    .start-page-wrapper
      .start-page-left-top-radius
        .start-page-left-top-radius-inner-circle
      .start-page-content
        a.start-page-external-link-wrapper.start-page-external-klein-wrapper(href=insertLanguageToLink('https://klein.run', lang) target='_blank')
          .start-page-external-link-each-line
            h1.start-page-external-link-each-title KLEIN
            svg.start-page-external-link-each-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
              path(d='M11.7819 14.7784C11.8021 14.7841 12.2489 14.6593 12.7745 14.5011C13.3003 14.3428 13.7258 14.1937 13.7203 14.1699C13.7147 14.1461 13.5727 13.7895 13.4046 13.3775C13.0672 12.5502 12.8051 11.508 12.754 10.7911C12.595 8.55669 13.4501 6.52277 15.1227 5.15677L15.5486 4.8089L15.1036 4.0382L14.6586 3.26743L14.1903 3.44022C11.1221 4.57228 8.06852 3.4859 5.88166 0.48435C5.73888 0.288342 5.6137 0.13287 5.60348 0.138773C5.50933 0.193127 4.17169 1.47865 4.1598 1.52617C4.1512 1.56054 4.28009 1.74715 4.44625 1.94076C6.28594 4.08477 8.70807 5.29529 10.8576 5.14511L11.3732 5.10909L3.10906 9.9009L0.607804 11.358L1.50835 12.9178L4.03433 11.4724L12.2968 6.72269L11.941 7.27944C11.018 8.72372 10.7489 10.6668 11.1736 12.8213C11.2946 13.4351 11.7053 14.7565 11.7819 14.7784Z')
          h2.start-page-external-link-each-text= __('Install Nodes')
          h2.start-page-external-link-each-text= __('With Just a Click')
        .start-page-header-wrapper
          - let start_page_text = [__('FOR YOU TO'), __('MAKE MOST OF'), __('THE'), __('DISTRIBUTED'), __('VALUE')]
          h1.start-page-header-each-line(class=`${lang == 'tr' ? 'start-page-header-each-line-turkish-char-fix' : ''}`)= start_page_text[0]
          h1.start-page-header-each-line= start_page_text[1]
          h1.start-page-header-each-line= start_page_text[2]
            a.start-page-external-link-wrapper.start-page-external-events-wrapper(href='https://lu.ma/node101' target='_blank')
              .start-page-external-link-each-line
                h1.start-page-external-link-each-title= __('Gatherings')
                svg.start-page-external-link-each-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                  path(d='M11.7819 14.7784C11.8021 14.7841 12.2489 14.6593 12.7745 14.5011C13.3003 14.3428 13.7258 14.1937 13.7203 14.1699C13.7147 14.1461 13.5727 13.7895 13.4046 13.3775C13.0672 12.5502 12.8051 11.508 12.754 10.7911C12.595 8.55669 13.4501 6.52277 15.1227 5.15677L15.5486 4.8089L15.1036 4.0382L14.6586 3.26743L14.1903 3.44022C11.1221 4.57228 8.06852 3.4859 5.88166 0.48435C5.73888 0.288342 5.6137 0.13287 5.60348 0.138773C5.50933 0.193127 4.17169 1.47865 4.1598 1.52617C4.1512 1.56054 4.28009 1.74715 4.44625 1.94076C6.28594 4.08477 8.70807 5.29529 10.8576 5.14511L11.3732 5.10909L3.10906 9.9009L0.607804 11.358L1.50835 12.9178L4.03433 11.4724L12.2968 6.72269L11.941 7.27944C11.018 8.72372 10.7489 10.6668 11.1736 12.8213C11.2946 13.4351 11.7053 14.7565 11.7819 14.7784Z')
              .start-page-external-link-each-line
                h2.start-page-external-link-each-title= __('Workshops')
                svg.start-page-external-link-each-icon.invisible(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7819 14.7784C11.8021 14.7841 12.2489 14.6593 12.7745 14.5011C13.3003 14.3428 13.7258 14.1937 13.7203 14.1699C13.7147 14.1461 13.5727 13.7895 13.4046 13.3775C13.0672 12.5502 12.8051 11.508 12.754 10.7911C12.595 8.55669 13.4501 6.52277 15.1227 5.15677L15.5486 4.8089L15.1036 4.0382L14.6586 3.26743L14.1903 3.44022C11.1221 4.57228 8.06852 3.4859 5.88166 0.48435C5.73888 0.288342 5.6137 0.13287 5.60348 0.138773C5.50933 0.193127 4.17169 1.47865 4.1598 1.52617C4.1512 1.56054 4.28009 1.74715 4.44625 1.94076C6.28594 4.08477 8.70807 5.29529 10.8576 5.14511L11.3732 5.10909L3.10906 9.9009L0.607804 11.358L1.50835 12.9178L4.03433 11.4724L12.2968 6.72269L11.941 7.27944C11.018 8.72372 10.7489 10.6668 11.1736 12.8213C11.2946 13.4351 11.7053 14.7565 11.7819 14.7784Z')
              .start-page-external-link-each-line
                h2.start-page-external-link-each-title= __('Summits')
                svg.start-page-external-link-each-icon.invisible(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7819 14.7784C11.8021 14.7841 12.2489 14.6593 12.7745 14.5011C13.3003 14.3428 13.7258 14.1937 13.7203 14.1699C13.7147 14.1461 13.5727 13.7895 13.4046 13.3775C13.0672 12.5502 12.8051 11.508 12.754 10.7911C12.595 8.55669 13.4501 6.52277 15.1227 5.15677L15.5486 4.8089L15.1036 4.0382L14.6586 3.26743L14.1903 3.44022C11.1221 4.57228 8.06852 3.4859 5.88166 0.48435C5.73888 0.288342 5.6137 0.13287 5.60348 0.138773C5.50933 0.193127 4.17169 1.47865 4.1598 1.52617C4.1512 1.56054 4.28009 1.74715 4.44625 1.94076C6.28594 4.08477 8.70807 5.29529 10.8576 5.14511L11.3732 5.10909L3.10906 9.9009L0.607804 11.358L1.50835 12.9178L4.03433 11.4724L12.2968 6.72269L11.941 7.27944C11.018 8.72372 10.7489 10.6668 11.1736 12.8213C11.2946 13.4351 11.7053 14.7565 11.7819 14.7784Z')
          h1.start-page-header-each-line= start_page_text[3]
          .start-page-last-line-wrapper
            h1.start-page-header-each-line= start_page_text[4]
              a.start-page-external-link-wrapper.start-page-external-events-wrapper.start-page-external-events-wrapper-responsive(href='https://lu.ma/node101' target='_blank')
                .start-page-external-link-each-line
                  h1.start-page-external-link-each-title= __('Gatherings')
                  svg.start-page-external-link-each-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                    path(d='M11.7819 14.7784C11.8021 14.7841 12.2489 14.6593 12.7745 14.5011C13.3003 14.3428 13.7258 14.1937 13.7203 14.1699C13.7147 14.1461 13.5727 13.7895 13.4046 13.3775C13.0672 12.5502 12.8051 11.508 12.754 10.7911C12.595 8.55669 13.4501 6.52277 15.1227 5.15677L15.5486 4.8089L15.1036 4.0382L14.6586 3.26743L14.1903 3.44022C11.1221 4.57228 8.06852 3.4859 5.88166 0.48435C5.73888 0.288342 5.6137 0.13287 5.60348 0.138773C5.50933 0.193127 4.17169 1.47865 4.1598 1.52617C4.1512 1.56054 4.28009 1.74715 4.44625 1.94076C6.28594 4.08477 8.70807 5.29529 10.8576 5.14511L11.3732 5.10909L3.10906 9.9009L0.607804 11.358L1.50835 12.9178L4.03433 11.4724L12.2968 6.72269L11.941 7.27944C11.018 8.72372 10.7489 10.6668 11.1736 12.8213C11.2946 13.4351 11.7053 14.7565 11.7819 14.7784Z')
                h2.start-page-external-link-each-title= __('Workshops')
                h2.start-page-external-link-each-title= __('Summits')
            h2.start-page-description= __('World is changing, and there are lots of new values emerging with blockchain technology. Now, it is the time to distribute the value.')
        .start-page-social-media-wrapper
          a.start-page-social-media-each-button(href=(page_lang == 'tr' ? 'https://twitter.com/node101_TR' : 'https://twitter.com/node_101') target='_blank')
            svg.start-page-social-media-each-button-icon(viewbox='0 0 26 23' xmlns='http://www.w3.org/2000/svg')
              path(d='M19.9585 0H23.792L15.4169 9.70726L25.2695 22.9167H17.555L11.5128 14.9052L4.59902 22.9167H0.763204L9.72116 12.5337L0.269531 0H8.17988L13.6416 7.32276L19.9585 0ZM18.6131 20.5897H20.7372L7.02566 2.2047H4.74619L18.6131 20.5897Z')
          a.start-page-social-media-each-button(href=(page_lang == 'tr' ? 'https://t.me/node101_tr' : 'https://t.me/node101') target='_blank')
            svg.start-page-social-media-each-button-icon(viewbox='0 0 25 26' xmlns='http://www.w3.org/2000/svg')
              path(d='M25 12.6923C25 19.5958 19.4036 25.1923 12.5 25.1923C5.59644 25.1923 0 19.5958 0 12.6923C0 5.7887 5.59644 0.192261 12.5 0.192261C19.4036 0.192261 25 5.7887 25 12.6923ZM12.9479 9.42031C11.7321 9.92601 9.30223 10.9727 5.65822 12.5603C5.06649 12.7956 4.75652 13.0258 4.7283 13.2509C4.68061 13.6313 5.15699 13.7811 5.8057 13.9851C5.89394 14.0128 5.98537 14.0416 6.0791 14.0721C6.71733 14.2795 7.57586 14.5222 8.02217 14.5319C8.42702 14.5406 8.87888 14.3737 9.37775 14.0312C12.7825 11.7329 14.54 10.5712 14.6503 10.5462C14.7282 10.5285 14.836 10.5063 14.9091 10.5713C14.9822 10.6362 14.975 10.7593 14.9673 10.7923C14.9201 10.9934 13.0501 12.7319 12.0824 13.6316C11.7807 13.9121 11.5667 14.111 11.523 14.1565C11.425 14.2582 11.3251 14.3545 11.2291 14.4471C10.6362 15.0186 10.1916 15.4473 11.2538 16.1472C11.7642 16.4836 12.1727 16.7618 12.5802 17.0393C13.0252 17.3423 13.4691 17.6446 14.0433 18.0211C14.1897 18.117 14.3294 18.2166 14.4655 18.3136C14.9834 18.6829 15.4487 19.0146 16.0235 18.9617C16.3575 18.9309 16.7026 18.6169 16.8778 17.6801C17.2919 15.4664 18.1059 10.6698 18.294 8.69327C18.3105 8.5201 18.2897 8.29848 18.2731 8.20119C18.2564 8.1039 18.2216 7.96529 18.0952 7.86268C17.9454 7.74115 17.7142 7.71553 17.6108 7.71735C17.1406 7.72563 16.4193 7.97644 12.9479 9.42031Z')
          a.start-page-social-media-each-button(href='https://github.com/node101-io' target='_blank')
            svg.start-page-social-media-each-button-icon(viewbox='0 0 25 25' xmlns='http://www.w3.org/2000/svg')
              path(d='M12.5103 0.192261C5.59245 0.192261 0 5.70105 0 12.5162C0 17.9639 3.58327 22.5752 8.55422 24.2073C9.17572 24.33 9.40337 23.9422 9.40337 23.6159C9.40337 23.3302 9.38288 22.3509 9.38288 21.3305C5.90281 22.0652 5.17812 19.8614 5.17812 19.8614C4.61885 18.4331 3.79018 18.066 3.79018 18.066C2.65116 17.3111 3.87315 17.3111 3.87315 17.3111C5.13663 17.3927 5.79961 18.5761 5.79961 18.5761C6.9179 20.4531 8.7199 19.9227 9.44486 19.5962C9.54831 18.8005 9.87993 18.2496 10.232 17.9436C7.45642 17.6579 4.53613 16.5969 4.53613 11.8631C4.53613 10.5165 5.03292 9.41473 5.8201 8.55786C5.6959 8.25187 5.26083 6.9866 5.94455 5.29315C5.94455 5.29315 7.00086 4.96663 9.38263 6.55817C10.4023 6.28841 11.454 6.15117 12.5103 6.15002C13.5667 6.15002 14.6435 6.293 15.6378 6.55817C18.0198 4.96663 19.0761 5.29315 19.0761 5.29315C19.7599 6.9866 19.3245 8.25187 19.2003 8.55786C20.0083 9.41473 20.4846 10.5165 20.4846 11.8631C20.4846 16.5969 17.5643 17.6374 14.7679 17.9436C15.2237 18.3312 15.6171 19.0656 15.6171 20.2287C15.6171 21.8814 15.5966 23.2077 15.5966 23.6156C15.5966 23.9422 15.8245 24.33 16.4457 24.2076C21.4167 22.575 24.9999 17.9639 24.9999 12.5162C25.0204 5.70105 19.4075 0.192261 12.5103 0.192261Z')
      .start-page-right-top-radius
        .start-page-right-top-radius-inner-circle
    .portfolio-wrapper
      .portfolio-header-wrapper
        .portfolio-header-top-line
          h2.portfolio-header-top-line-text= __('node101 is validating and distributing the value in more than 15 blockchains, all with different visions for their community.')
          .portfolio-header-top-line-color-space
          .portfolio-header-top-line-color
        .portfolio-header-bottom-line
          //- h1.portfolio-header-bottom-line-text= __('Start distributing and increasing your value,')
          //-   a.portfolio-header-bottom-line-link(href=insertLanguageToLink('/stake-with-node101', lang))
          //-     .portfolio-header-bottom-line-link-text= __('stake now.')
          //-     svg.portfolio-header-bottom-line-link-icon(viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg')
          //-       path(d='M9.40829 12.9216C9.42527 12.9264 9.80023 12.8217 10.2414 12.6889C10.6827 12.556 11.0398 12.4309 11.0352 12.4109C11.0305 12.3909 10.9113 12.0917 10.7702 11.7459C10.487 11.0514 10.2671 10.1768 10.2242 9.57503C10.0908 7.69967 10.8084 5.99259 12.2122 4.84608L12.5697 4.55411L12.1962 3.90725L11.8227 3.26035L11.4297 3.40537C8.85454 4.35552 6.2916 3.44371 4.45616 0.924474C4.33632 0.759963 4.23125 0.629474 4.22267 0.634429C4.14366 0.680048 3.02096 1.759 3.01098 1.79889C3.00376 1.82773 3.11194 1.98436 3.2514 2.14685C4.79547 3.94635 6.82839 4.96234 8.63251 4.8363L9.06528 4.80607L2.12908 8.82789L0.0297508 10.0509L0.785585 11.36L2.90567 10.1469L9.84042 6.16038L9.54181 6.62766C8.76712 7.83986 8.54128 9.47075 8.89777 11.279C8.99929 11.7942 9.34402 12.9032 9.40829 12.9216Z')
          h1.portfolio-header-bottom-line-text
            each word in __('Start distributing and increasing your value,').split(' ')
              span= word
            //- a.portfolio-header-bottom-line-link(href=insertLanguageToLink('/stake-with-node101', lang))
            .portfolio-header-bottom-line-link
              .portfolio-header-bottom-line-link-text= __('stake now.')
              svg.portfolio-header-bottom-line-link-icon(viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg')
                path(d='M9.40829 12.9216C9.42527 12.9264 9.80023 12.8217 10.2414 12.6889C10.6827 12.556 11.0398 12.4309 11.0352 12.4109C11.0305 12.3909 10.9113 12.0917 10.7702 11.7459C10.487 11.0514 10.2671 10.1768 10.2242 9.57503C10.0908 7.69967 10.8084 5.99259 12.2122 4.84608L12.5697 4.55411L12.1962 3.90725L11.8227 3.26035L11.4297 3.40537C8.85454 4.35552 6.2916 3.44371 4.45616 0.924474C4.33632 0.759963 4.23125 0.629474 4.22267 0.634429C4.14366 0.680048 3.02096 1.759 3.01098 1.79889C3.00376 1.82773 3.11194 1.98436 3.2514 2.14685C4.79547 3.94635 6.82839 4.96234 8.63251 4.8363L9.06528 4.80607L2.12908 8.82789L0.0297508 10.0509L0.785585 11.36L2.90567 10.1469L9.84042 6.16038L9.54181 6.62766C8.76712 7.83986 8.54128 9.47075 8.89777 11.279C8.99929 11.7942 9.34402 12.9032 9.40829 12.9216Z')
          .portfolio-header-bottom-line-color-space
          .portfolio-header-bottom-line-color
      .portfolio-content-wrapper
        if portfolio && portfolio.length
          .portfolio-content-project-wrapper
            each project in portfolio
              //- a.portfolio-content-each-project-wrapper(href=insertLanguageToLink(`/stake-with-node101#${project._id}`, lang))
              a.portfolio-content-each-project-wrapper(href=project.link target='_blank')
                img.portfolio-content-each-project-logo(
                  srcset=`/img/chains/${project._id}-160w.png, /img/chains/${project._id}-240w.png 1.5x, /img/chains/${project._id}-320w.png 2x`,
                  src=`/img/chains/${project._id}-320w.png`
                  alt=project.name
                )
                .portfolio-content-each-project-content-wrapper
                  h3.portfolio-content-each-project-content-name= project.name
                  h4.portfolio-content-each-project-content-apr #{__('APR')} ~ #{page_lang == 'tr' ? '%' + project.apr : project.apr + '%'}
            //- a.portfolio-content-all-projects-link(href=insertLanguageToLink(`/stake-with-node101`, lang))
            //-   svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
            //-     path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
            //-   .portfolio-content-all-projects-link-text= __('All Projects')
          .portfolio-content-project-wrapper-responsive
            each project, i in portfolio
              .portfolio-content-each-project-wrapper-responsive(class=`${i < 5 ? '' : 'display-none'}`)
                img.portfolio-content-each-project-logo(
                  srcset=`/img/chains/${project._id}-80w.png, /img/chains/${project._id}-160w.png 2x`,
                  src=`/img/chains/${project._id}-160w.png`
                  alt=project.name
                )
                h3.portfolio-content-each-project-content-name= project.name
                h4.portfolio-content-each-project-content-apr #{__('APR')} #{page_lang == 'tr' ? '%' + project.apr : project.apr + '%'}
                a.portfolio-content-each-project-link-responsive(href=project.link target='_blank')
                  svg.portfolio-content-each-project-link-responsive-icon(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
            //- .portfolio-content-all-projects-link-responsive
            //-   .portfolio-content-all-projects-link-text= __('all projects')
            //-   svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
            //-     path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
    //- .services-wrapper
      .services-header-wrapper
        h2.services-header-subtitle= __('Validator')
        h1.services-header-title= __('Services')
      if services && services.length >= 6
        .services-content-wrapper
          .services-content-each-line-wrapper
            article.services-content-each-service-wrapper
              each line in services[0].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[0].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
            article.services-content-each-service-wrapper
              each line in services[1].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[1].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
            article.services-content-each-service-wrapper
              each line in services[2].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[2].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
          .services-content-each-line-wrapper
            .services-content-description-wrapper
              h1.services-content-description-title= __('That we could do or are already doing;')
              h2.services-content-description-subtitle= __('Visit services page to discover why node101 is the best partner in staking for you.')
              a.services-content-description-button(href=insertLanguageToLink('/validator-services', lang))
                svg.services-content-description-button-icon.services-content-description-button-icon-left(viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7.37052 15.0873C7.38408 15.1012 7.79973 15.2079 8.2941 15.3242C8.78854 15.4406 9.19841 15.518 9.20501 15.4964C9.21153 15.4747 9.2627 15.1233 9.31863 14.7155C9.431 13.8965 9.70308 12.9403 9.9938 12.3423C10.9 10.4786 12.5259 9.24449 14.4978 8.92374L15 8.84204V8.01873V7.19535L14.5449 7.11716C11.563 6.60492 9.61896 4.32198 9.25529 0.905558C9.23156 0.682467 9.20318 0.5 9.19226 0.5C9.09169 0.5 7.42532 0.911201 7.39381 0.943775C7.37102 0.96733 7.38797 1.17647 7.43154 1.40845C7.91373 3.97722 9.2944 6.06751 11.0861 6.9415L11.5158 7.15116L2.67803 7.16757L0 7.178V8.84426L2.6924 8.8547L11.5094 8.87118L10.9668 9.15267C9.5592 9.88287 8.44477 11.3152 7.78849 13.2378C7.60148 13.7856 7.31929 15.0343 7.37052 15.0873Z')
                .services-content-description-button-text= __('more services')
                svg.services-content-description-button-icon.services-content-description-button-icon-right(viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7.37052 15.0873C7.38408 15.1012 7.79973 15.2079 8.2941 15.3242C8.78854 15.4406 9.19841 15.518 9.20501 15.4964C9.21153 15.4747 9.2627 15.1233 9.31863 14.7155C9.431 13.8965 9.70308 12.9403 9.9938 12.3423C10.9 10.4786 12.5259 9.24449 14.4978 8.92374L15 8.84204V8.01873V7.19535L14.5449 7.11716C11.563 6.60492 9.61896 4.32198 9.25529 0.905558C9.23156 0.682467 9.20318 0.5 9.19226 0.5C9.09169 0.5 7.42532 0.911201 7.39381 0.943775C7.37102 0.96733 7.38797 1.17647 7.43154 1.40845C7.91373 3.97722 9.2944 6.06751 11.0861 6.9415L11.5158 7.15116L2.67803 7.16757L0 7.178V8.84426L2.6924 8.8547L11.5094 8.87118L10.9668 9.15267C9.5592 9.88287 8.44477 11.3152 7.78849 13.2378C7.60148 13.7856 7.31929 15.0343 7.37052 15.0873Z')
            article.services-content-each-service-wrapper
              each line in services[3].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[3].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
            article.services-content-each-service-wrapper
              each line in services[4].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[4].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
          .services-content-each-line-wrapper
            article.services-content-each-service-wrapper
              each line in services[5].title
                h1.services-content-each-service-title= line
              h2.services-content-each-service-description
                each item in services[5].description
                  if item.type == 'text'
                    span(style=(item.spaceRight ? 'margin-right: var(--services-each-text-space-size)' : ''))= item.content
                  else if item.type == 'button'
                    a.services-content-each-service-description-button(href=item.link target=item.target)= item.content
                  else if item.type == 'link'
                    a.services-content-each-service-description-link(href=item.link target=item.target)= item.content
    if events && events.length
      .events-wrapper
        - const events_title = __('A bridge leading to the Turkiye ecosystem.') + ' ';
        .events-header-wrapper
          - for (let i = 0; i < 3; i++)
            .events-header-each-inner-wrapper
              each letter, j in events_title.split('')
                span.events-header-each-letter(style=`
                  animation-delay: calc(-1 * ${j} * var(--events-header-animation-duration) / ${events_title.split('').length});
                  ${letter == ' ' ? 'width: var(--events-header-space-width); min-width: var(--events-header-space-width)' : ''}
                `)= letter
        //- .events-description-wrapper
        //-   h2.events-description
        //-     span= __('We see events as the fastest way of distributing the value of blockchain. Until now, node101 organized more than 40 blockchain events and hosted more than 2000 people. Reach out to us from ')
        //-     a.events-description-mail(href='mailto:hello@node101.io' target='_blank') hello@node101.io
        //-     span= __(' to discuss how we can help you reach the Turkish community.')
        //- .events-links-wrapper
          //- .events-links-individual-wrapper
            //- each event in events
            //-   if (event.logo)
            //-     a.events-links-each-individual-event(href=event.link target='_blank')
            //-       img.events-links-each-individual-event-image(src=event.logo alt=event.name)
        a.events-links-all-events-button(href='https://lu.ma/node101' target='_blank')
          svg.events-links-all-events-button-icon.events-links-all-events-button-icon-left(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
            path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
          .events-links-all-events-button-text events.node101
          svg.events-links-all-events-button-icon.events-links-all-events-button-icon-right(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
        .events-content-wrapper
          .events-content-navbar-wrapper
            .events-content-navbar-header-wrapper
              h1.events-content-navbar-header-title= __('Events')
              .events-content-navbar-header-icon-wrapper
                .events-content-navbar-header-icon-each-line.events-content-navbar-header-icon-line-left
                .events-content-navbar-header-icon-each-line.events-content-navbar-header-icon-line-right
            .events-content-navbar-events-wrapper
              each event, i in events
                .events-content-navbar-each-event(id=`event-${event._id}` class=(!i ? 'events-content-navbar-each-event-selected' : ''))= event.name
          .events-content-navbar-wrapper-responsive
            each event, i in events
              .events-content-navbar-each-event-responsive(id=`event-${event._id}-responsive` class=(i == 0 ? 'events-content-navbar-each-event-selected-responsive' : ''))= event.name
          .events-content-inner-wrapper
            each event, i in events
              .events-content-each-event-wrapper(class=`events-content-${event._id}-wrapper ${i ? 'display-none' : ''}`)
                |!{include(`/includes/events/${event._id}.pug`)}
          a.events-links-all-events-button-responsive(href='https://lu.ma/node101' target='_blank')
            svg.events-links-all-events-button-responsive-icon.events-links-all-events-button-responsive-icon-left(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
            .events-links-all-events-button-responsive-text events.node101
            svg.events-links-all-events-button-responsive-icon.events-links-all-events-button-responsive-icon-right(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
    if contributions && contributions.length
      .contributions-wrapper
        .contributions-header-wrapper
          h1.contributions-header-text
            span= __('From mass content creation to software development, node101 is helping the distributed ecosystem in various ways.') + ' '
            span.contributions-header-highlight-text= __('Scroll to explore.')
        .contributions-navbar-wrapper-responsive
          each contribution, i in contributions.slice(0, contributions.length / 2)
            .contributions-navbar-each-contribution-responsive(
              id=`contribution-${contributions[i]._id}-responsive`
              class=(i == 0 ? 'contributions-navbar-each-contribution-selected-responsive' : '')
            )= contribution.title
        .contributions-content-wrapper
          .contributions-navbar-wrapper
            .contributions-navbar-scroll-wrapper
              - for (let i = 0; i < 10 * contributions.length; i++)
                .contributions-navbar-scroll-inner-each-wrapper
            svg.contributions-navbar-selected-icon(viewbox='0 0 51 53' xmlns='http://www.w3.org/2000/svg')
              path(d='M25.0598 51.5416C25.1059 51.5909 26.5191 51.9679 28.1999 52.3789C29.881 52.79 31.2746 53.0636 31.297 52.9872C31.3192 52.9106 31.4932 51.6691 31.6833 50.2281C32.0654 47.3344 32.9905 43.9558 33.9789 41.8428C37.06 35.2576 42.588 30.8972 49.2927 29.7639L51 29.4752V26.5662V23.6569L49.4525 23.3806C39.3142 21.5707 32.7045 13.5043 31.468 1.43297C31.3873 0.644722 31.2908 0 31.2537 0C30.9118 0 25.2461 1.45291 25.139 1.56801C25.0615 1.65123 25.1191 2.3902 25.2672 3.20986C26.9067 12.2862 31.601 19.6719 37.6926 22.76L39.1539 23.5008L9.10529 23.5588L0 23.5956L0 29.4831L9.15417 29.5199L39.1319 29.5782L37.2871 30.5728C32.5013 33.1528 28.7122 38.2138 26.4809 45.007C25.845 46.9424 24.8856 51.3545 25.0598 51.5416Z')
            .contributions-navbar-content-wrapper
              .contributions-navbar-content-inner-wrapper
                - const contributions_start_index = 5;
                - for (let i = contributions_start_index; i < contributions.length; i++)
                  .contributions-navbar-content-each-contribution(id=`contribution-${contributions[i]._id}` class=(i == (contributions_start_index + 4 % (contributions.length / 2)) ? 'contributions-navbar-content-each-contribution-selected' : ''))= contributions[i].title
                - for (let i = 0; i < contributions_start_index; i++)
                  .contributions-navbar-content-each-contribution(id=`contribution-${contributions[i]._id}`)= contributions[i].title
            .contributions-navbar-border
          .contributions-content-inner-wrapper
            each contribution, i in contributions.slice(0, contributions.length / 2)
              .contributions-content-each-contribution-wrapper(class=`contributions-content-${contribution._id}-wrapper ${contribution._id == contributions[(contributions_start_index + 4) % (contributions.length / 2)]._id ? '' : 'display-none'}`)
                |!{include(`/includes/contributions/${contribution._id}.pug`)}
            //- .contributions-content-each-contribution-wrapper.contributions-content-validator-wrapper
            //-   include ../includes/contributions/validator.pug
              //- .contributions-content-each-contribution-wrapper(style=`background-color: ${contribution.color}`)
    .team-wrapper
      .team-background-wrapper
        svg.team-background(viewBox='0 0 1806 827' fill='none' xmlns='http://www.w3.org/2000/svg')
          path.team-background-path(d='M-345 302.339C-264.122 342.872 -225.965 324.571 -168 394.001C-82.5691 497.601 -46.6279 577.058 21.3721 708.322C81.8605 805.98 231.023 828.976 314.837 761.763C398.651 694.549 433.013 636.56 588.345 508.746C679.694 433.646 828.775 279.195 1030.81 292.85C1132.89 299.756 1251.58 381.562 1345.91 424.114C1461.52 476.272 1483.13 480.524 1545.52 492.869C1619.63 507.555 1768.21 555.381 1933 424.114C1992.17 333.498 2009.26 66.1736 1740.5 79.0004C1520.5 89.5 1544 232.5 1586.5 269.5C1629 306.5 1726.12 289 1714.5 188.5C1702.88 88 1489.5 -27.1266 1414 -36.5')
        .team-top-line-color
          .team-top-line-color-inner-circle
      .team-content-outer-wrapper
        .team-header-wrapper
          a.team-content-button.team-content-button-responsive(href=insertLanguageToLink('/about-us', lang))
            svg.team-content-button-icon.team-content-button-icon-left(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
            .team-content-button-text= __('101 team')
            svg.team-content-button-icon.team-content-button-icon-right(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
          .team-header-description= __('How do we achieve it all? By having one of the best teams in the ecosystem, all members with the vision of helping, growing, and distributing the value.')
        .team-content-wrapper
          .team-content-color
            .team-content-color-inner-circle
          .team-header-description-responsive= __('How do we achieve it all? By having one of the best teams in the ecosystem, all members with the vision of helping, growing, and distributing the value.')
          .team-content-images-wrapper
            - for (let i = 1; i <= 10; i++)
              if (i != 3 && i != 4 && i != 6 && i != 7)
                img.team-content-each-image(
                  srcset=`/img/team/photos/team-${i}-512w.png, /img/team/photos/team-${i}-1024w.png 2x, /img/team/photos/team-${i}-2048w.png 4x`
                  src=`/img/team/photos/team-${i}-2048w.png`
                  style=`transform: rotate(${Math.floor(Math.random() * 5 - 2.5)}deg);`
                  alt=`node101 team image ${i}`
                  draggable='false'
                )
          a.team-content-button(href=insertLanguageToLink('/about-us', lang))
            svg.team-content-button-icon.team-content-button-icon-left(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
            .team-content-button-text= __('101 team')
            svg.team-content-button-icon.team-content-button-icon-right(viewBox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
      .team-footer-wrapper
        h3.team-footer-description
          span= __('If you also are sharing our values, believing in our vision, and thinking that it is time to change something; reach out to us at ')
          a.team-footer-description-link(href='mailto:hello@node101.io' target='_blank') hello@node101.io
          span= __(', and lets discuss when you can start.')
        .team-footer-color
          .team-footer-color-inner-circle
    .footer-wrapper
      .footer-content-wrapper
        .footer-top-wrapper
          .footer-top-left-wrapper
            .footer-top-left-text= __('Subscribe to 101 newsletter to stay connected and to learn about the latest news in the 101 ecosystem instantly.')
            .footer-top-left-input-title= __('Email Address')
            label.footer-top-left-input-wrapper
              input.footer-top-left-input(type='email' autocomplete='none' placeholder='node@101.com')
              .footer-top-left-input-button= __('Send')
            .footer-top-left-each-message.footer-top-left-error-bad-request-message.display-none= __('Please enter a valid email address.')
            .footer-top-left-each-message.footer-top-left-error-duplicated-field-message.display-none= __('You have already subscribed, thank you for your interest.')
            .footer-top-left-each-message.footer-top-left-success-message.display-none= __('Thank you for joining our community!')
            //- .footer-top-left-checkbox-wrapper
            //-   .footer-top-left-checkbox
            //-     svg.footer-top-left-checkbox-icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
            //-       path(d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z')
            //-   .footer-top-left-checkbox-text
            //-     span= __('I agree to the')
            //-     a.footer-top-left-checkbox-text-link(href='/')= __('privacy statement')
            //-     span= __('by submitting this form')
          .footer-top-right-wrapper
            h1.footer-top-right-title= __('Lets Talk')
            h1.footer-top-right-subtitle= __('Do you have a question?')
            a.footer-top-right-text-wrapper(href='https://calendar.app.google/ZW2iwwVGoxSbVpKF6' target='_blank')
              .footer-top-right-text Book a call!
              svg.footer-top-right-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                path(d='M11.7839 14.7786C11.8041 14.7844 12.2508 14.6596 12.7765 14.5013C13.3022 14.343 13.7277 14.194 13.7222 14.1702C13.7166 14.1463 13.5746 13.7898 13.4066 13.3778C13.0691 12.5504 12.807 11.5083 12.756 10.7913C12.597 8.55693 13.452 6.52302 15.1246 5.15701L15.5505 4.80914L15.1056 4.03844L14.6606 3.26768L14.1922 3.44046C11.1241 4.57253 8.07047 3.48614 5.88362 0.484594C5.74083 0.288586 5.61566 0.133114 5.60543 0.139017C5.51129 0.193371 4.17365 1.47889 4.16175 1.52642C4.15315 1.56078 4.28205 1.74739 4.44821 1.941C6.28789 4.08501 8.71003 5.29553 10.8596 5.14535L11.3752 5.10934L3.11101 9.90115L0.609757 11.3583L1.5103 12.918L4.03628 11.4727L12.2987 6.72294L11.9429 7.27968C11.0199 8.72396 10.7509 10.6671 11.1756 12.8215C11.2966 13.4353 11.7073 14.7568 11.7839 14.7786Z')
            a.footer-top-right-text-wrapper(href='mailto:hello@node101.io' target='_blank')
              .footer-top-right-text hello@node101.io
              svg.footer-top-right-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                path(d='M11.7839 14.7786C11.8041 14.7844 12.2508 14.6596 12.7765 14.5013C13.3022 14.343 13.7277 14.194 13.7222 14.1702C13.7166 14.1463 13.5746 13.7898 13.4066 13.3778C13.0691 12.5504 12.807 11.5083 12.756 10.7913C12.597 8.55693 13.452 6.52302 15.1246 5.15701L15.5505 4.80914L15.1056 4.03844L14.6606 3.26768L14.1922 3.44046C11.1241 4.57253 8.07047 3.48614 5.88362 0.484594C5.74083 0.288586 5.61566 0.133114 5.60543 0.139017C5.51129 0.193371 4.17365 1.47889 4.16175 1.52642C4.15315 1.56078 4.28205 1.74739 4.44821 1.941C6.28789 4.08501 8.71003 5.29553 10.8596 5.14535L11.3752 5.10934L3.11101 9.90115L0.609757 11.3583L1.5103 12.918L4.03628 11.4727L12.2987 6.72294L11.9429 7.27968C11.0199 8.72396 10.7509 10.6671 11.1756 12.8215C11.2966 13.4353 11.7073 14.7568 11.7839 14.7786Z')
            h1.footer-top-right-subtitle= __('Do you have a question about our events?')
            .footer-top-right-contact-wrapper
              img.footer-top-right-contact-image(
                srcset='/img/team/contact/mete-80w.png, /img/team/contact/mete-160w.png 2x'
                src='/img/team/contact/mete-160w.png'
                alt='node101 events contact Mete Koray Gergin'
              )
              .footer-top-right-contact-text-wrapper
                .footer-top-right-contact-title-wrapper
                  .footer-top-right-contact-title Mete Koray Gergin
                  a.footer-top-right-contact-link(href='https://www.linkedin.com/in/metekoraygergin/' target='_blank')
                    svg.footer-top-right-contact-link-icon(viewbox='0 0 21 22' xmlns='http://www.w3.org/2000/svg')
                      path(d='M19.4455 0.5H1.55039C0.693164 0.5 0 1.17676 0 2.01348V19.9824C0 20.8191 0.693164 21.5 1.55039 21.5H19.4455C20.3027 21.5 21 20.8191 21 19.9865V2.01348C21 1.17676 20.3027 0.5 19.4455 0.5ZM6.23027 18.3951H3.11309V8.3709H6.23027V18.3951ZM4.67168 7.00508C3.6709 7.00508 2.86289 6.19707 2.86289 5.20039C2.86289 4.20371 3.6709 3.3957 4.67168 3.3957C5.66836 3.3957 6.47637 4.20371 6.47637 5.20039C6.47637 6.19297 5.66836 7.00508 4.67168 7.00508ZM17.8951 18.3951H14.782V13.5225C14.782 12.3617 14.7615 10.8646 13.1619 10.8646C11.5418 10.8646 11.2957 12.132 11.2957 13.4404V18.3951H8.18672V8.3709H11.1727V9.74082H11.2137C11.6279 8.95332 12.6451 8.1207 14.1586 8.1207C17.3127 8.1207 17.8951 10.1961 17.8951 12.8949V18.3951Z')
                a.footer-top-right-contact-text(href='mailto:mete@node101.io' target='_blank') mete@node101.io
            h1.footer-top-right-subtitle= __('Do you have a question about our validator services?')
            .footer-top-right-contact-wrapper
              img.footer-top-right-contact-image(
                srcset='/img/team/contact/mustafa-80w.png, /img/team/contact/mustafa-160w.png 2x'
                src='/img/team/contact/mustafa-160w.png'
                alt='node101 events contact Mustafa Aksz'
              )
              .footer-top-right-contact-text-wrapper
                .footer-top-right-contact-title-wrapper
                  .footer-top-right-contact-title Mustafa Aksz
                  a.footer-top-right-contact-link(href='https://www.linkedin.com/in/mustafa-aksoz/' target='_blank')
                    svg.footer-top-right-contact-link-icon(viewbox='0 0 21 22' xmlns='http://www.w3.org/2000/svg')
                      path(d='M19.4455 0.5H1.55039C0.693164 0.5 0 1.17676 0 2.01348V19.9824C0 20.8191 0.693164 21.5 1.55039 21.5H19.4455C20.3027 21.5 21 20.8191 21 19.9865V2.01348C21 1.17676 20.3027 0.5 19.4455 0.5ZM6.23027 18.3951H3.11309V8.3709H6.23027V18.3951ZM4.67168 7.00508C3.6709 7.00508 2.86289 6.19707 2.86289 5.20039C2.86289 4.20371 3.6709 3.3957 4.67168 3.3957C5.66836 3.3957 6.47637 4.20371 6.47637 5.20039C6.47637 6.19297 5.66836 7.00508 4.67168 7.00508ZM17.8951 18.3951H14.782V13.5225C14.782 12.3617 14.7615 10.8646 13.1619 10.8646C11.5418 10.8646 11.2957 12.132 11.2957 13.4404V18.3951H8.18672V8.3709H11.1727V9.74082H11.2137C11.6279 8.95332 12.6451 8.1207 14.1586 8.1207C17.3127 8.1207 17.8951 10.1961 17.8951 12.8949V18.3951Z')
                a.footer-top-right-contact-text(href='mailto:mechul@node101.io' target='_blank') mechul@node101.io
            h1.footer-top-right-subtitle= __('Address')
            a.footer-top-right-text-wrapper(href='https://maps.app.goo.gl/HaUhowwexY795CBd9' target='_blank')
              .footer-top-right-text= __('Maslak Mahallesi, Tayoncas Sokak, No 1/U, Aaolu 1453 Sitesi, T4-A, Kat 9, Daire 121, Saryer/stanbul')
              svg.footer-top-right-icon(viewbox='0 0 16 15' xmlns='http://www.w3.org/2000/svg')
                path(d='M11.7839 14.7786C11.8041 14.7844 12.2508 14.6596 12.7765 14.5013C13.3022 14.343 13.7277 14.194 13.7222 14.1702C13.7166 14.1463 13.5746 13.7898 13.4066 13.3778C13.0691 12.5504 12.807 11.5083 12.756 10.7913C12.597 8.55693 13.452 6.52302 15.1246 5.15701L15.5505 4.80914L15.1056 4.03844L14.6606 3.26768L14.1922 3.44046C11.1241 4.57253 8.07047 3.48614 5.88362 0.484594C5.74083 0.288586 5.61566 0.133114 5.60543 0.139017C5.51129 0.193371 4.17365 1.47889 4.16175 1.52642C4.15315 1.56078 4.28205 1.74739 4.44821 1.941C6.28789 4.08501 8.71003 5.29553 10.8596 5.14535L11.3752 5.10934L3.11101 9.90115L0.609757 11.3583L1.5103 12.918L4.03628 11.4727L12.2987 6.72294L11.9429 7.27968C11.0199 8.72396 10.7509 10.6671 11.1756 12.8215C11.2966 13.4353 11.7073 14.7568 11.7839 14.7786Z')
        .footer-bottom-wrapper
          h1.footer-bottom-title= __('Follow us')
          .footer-bottom-social-media-wrapper
            a.footer-bottom-each-social-media(href=(page_lang == 'tr' ? 'https://t.me/node101_tr' : 'https://t.me/node101') target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 33 33' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M33 16.5C33 25.6127 25.6127 33 16.5 33C7.3873 33 0 25.6127 0 16.5C0 7.3873 7.3873 0 16.5 0C25.6127 0 33 7.3873 33 16.5ZM17.0913 12.181C15.4864 12.8485 12.2789 14.2301 7.46885 16.3258C6.68777 16.6364 6.2786 16.9403 6.24136 17.2374C6.17841 17.7396 6.80723 17.9373 7.66352 18.2065C7.78 18.2432 7.90069 18.2811 8.02441 18.3213C8.86688 18.5952 10.0001 18.9156 10.5893 18.9283C11.1237 18.9398 11.7201 18.7195 12.3786 18.2673C16.8728 15.2336 19.1928 13.7002 19.3384 13.6672C19.4412 13.6439 19.5836 13.6145 19.6801 13.7003C19.7765 13.786 19.767 13.9484 19.7568 13.992C19.6945 14.2576 17.2262 16.5524 15.9488 17.7399C15.5506 18.1102 15.2681 18.3728 15.2104 18.4327C15.081 18.5671 14.9492 18.6942 14.8225 18.8163C14.0398 19.5708 13.4529 20.1366 14.855 21.0606C15.5288 21.5046 16.0679 21.8718 16.6058 22.2381C17.1932 22.6381 17.7791 23.0371 18.5372 23.534C18.7304 23.6606 18.9148 23.7921 19.0945 23.9202C19.7781 24.4076 20.3923 24.8454 21.1511 24.7756C21.592 24.735 22.0474 24.3205 22.2787 23.084C22.8253 20.1618 23.8997 13.8304 24.148 11.2213C24.1698 10.9928 24.1424 10.7002 24.1205 10.5718C24.0985 10.4434 24.0526 10.2604 23.8856 10.1249C23.6879 9.96454 23.3827 9.93071 23.2463 9.93312C22.6257 9.94405 21.6735 10.2751 17.0913 12.181Z')
            a.footer-bottom-each-social-media(href=(page_lang == 'tr' ? 'https://twitter.com/node101_TR' : 'https://twitter.com/node_101') target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 31 29' xmlns='http://www.w3.org/2000/svg')
                path(d='M23.9902 0.538086H28.6612L18.4565 12.366L30.4615 28.4612H21.0617L13.6994 18.6995L5.27531 28.4612H0.601521L11.5164 15.8099L0 0.538086H9.63846L16.2933 9.46058L23.9902 0.538086ZM22.3509 25.6259H24.9391L8.23209 3.22443H5.45464L22.3509 25.6259Z')
            //- a.footer-bottom-each-social-media(href='' target='_blank')
            //-   svg.footer-bottom-each-social-media-icon(viewbox='0 0 34 33' xmlns='http://www.w3.org/2000/svg')
            //-     path(d='M16.9609 2.97129C21.3695 2.97129 21.8916 2.99062 23.6254 3.06797C25.2367 3.13887 26.1068 3.40957 26.6869 3.63516C27.4539 3.93164 28.0082 4.29258 28.5818 4.86621C29.1619 5.44629 29.5164 5.99414 29.8129 6.76113C30.0385 7.34121 30.3092 8.21777 30.3801 9.82266C30.4574 11.5629 30.4768 12.085 30.4768 16.4871C30.4768 20.8957 30.4574 21.4178 30.3801 23.1516C30.3092 24.7629 30.0385 25.633 29.8129 26.2131C29.5164 26.9801 29.1555 27.5344 28.5818 28.108C28.0018 28.6881 27.4539 29.0426 26.6869 29.3391C26.1068 29.5647 25.2303 29.8354 23.6254 29.9062C21.8852 29.9836 21.3631 30.0029 16.9609 30.0029C12.5523 30.0029 12.0303 29.9836 10.2965 29.9062C8.68516 29.8354 7.81504 29.5647 7.23496 29.3391C6.46797 29.0426 5.91367 28.6816 5.34004 28.108C4.75996 27.5279 4.40547 26.9801 4.10898 26.2131C3.8834 25.633 3.6127 24.7564 3.5418 23.1516C3.46445 21.4113 3.44512 20.8893 3.44512 16.4871C3.44512 12.0785 3.46445 11.5564 3.5418 9.82266C3.6127 8.21133 3.8834 7.34121 4.10898 6.76113C4.40547 5.99414 4.76641 5.43984 5.34004 4.86621C5.92012 4.28613 6.46797 3.93164 7.23496 3.63516C7.81504 3.40957 8.6916 3.13887 10.2965 3.06797C12.0303 2.99062 12.5523 2.97129 16.9609 2.97129ZM16.9609 0C12.4814 0 11.9207 0.0193359 10.1611 0.0966797C8.40801 0.174023 7.20273 0.457617 6.15859 0.863672C5.06934 1.28906 4.14766 1.8498 3.23242 2.77148C2.31074 3.68672 1.75 4.6084 1.32461 5.69121C0.918555 6.7418 0.634961 7.94062 0.557617 9.69375C0.480273 11.4598 0.460938 12.0205 0.460938 16.5C0.460938 20.9795 0.480273 21.5402 0.557617 23.2998C0.634961 25.0529 0.918555 26.2582 1.32461 27.3023C1.75 28.3916 2.31074 29.3133 3.23242 30.2285C4.14766 31.1437 5.06934 31.7109 6.15215 32.1299C7.20273 32.5359 8.40156 32.8195 10.1547 32.8969C11.9143 32.9742 12.475 32.9936 16.9545 32.9936C21.434 32.9936 21.9947 32.9742 23.7543 32.8969C25.5074 32.8195 26.7127 32.5359 27.7568 32.1299C28.8397 31.7109 29.7613 31.1437 30.6766 30.2285C31.5918 29.3133 32.159 28.3916 32.5779 27.3088C32.984 26.2582 33.2676 25.0594 33.3449 23.3063C33.4223 21.5467 33.4416 20.9859 33.4416 16.5064C33.4416 12.027 33.4223 11.4662 33.3449 9.70664C33.2676 7.95352 32.984 6.74824 32.5779 5.7041C32.1719 4.6084 31.6111 3.68672 30.6895 2.77148C29.7742 1.85625 28.8525 1.28906 27.7697 0.870117C26.7191 0.464062 25.5203 0.180469 23.7672 0.103125C22.0012 0.0193359 21.4404 0 16.9609 0Z')
            a.footer-bottom-each-social-media(href='https://github.com/node101-io' target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 34 33' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M16.9746 0.634766C7.84297 0.634766 0.460938 7.90637 0.460938 16.9023C0.460938 24.0933 5.19086 30.1803 11.7525 32.3347C12.5729 32.4966 12.8734 31.9846 12.8734 31.554C12.8734 31.1768 12.8463 29.8841 12.8463 28.5372C8.25265 29.507 7.29605 26.598 7.29605 26.598C6.55781 24.7127 5.46398 24.2281 5.46398 24.2281C3.96046 23.2316 5.5735 23.2316 5.5735 23.2316C7.24129 23.3394 8.11643 24.9014 8.11643 24.9014C9.59256 27.3791 11.9712 26.679 12.9281 26.248C13.0647 25.1976 13.5024 24.4704 13.9672 24.0665C10.3034 23.6894 6.44863 22.2889 6.44863 16.0403C6.44863 14.2627 7.10439 12.8084 8.14347 11.6774C7.97953 11.2735 7.40523 9.6033 8.30774 7.36794C8.30774 7.36794 9.70208 6.93693 12.846 9.03777C14.192 8.68168 15.5802 8.50053 16.9746 8.49901C18.3689 8.49901 19.7903 8.68774 21.1028 9.03777C24.2471 6.93693 25.6414 7.36794 25.6414 7.36794C26.544 9.6033 25.9693 11.2735 25.8054 11.6774C26.8718 12.8084 27.5005 14.2627 27.5005 16.0403C27.5005 22.2889 23.6458 23.6623 19.9546 24.0665C20.5563 24.5782 21.0755 25.5476 21.0755 27.0829C21.0755 29.2644 21.0484 31.0152 21.0484 31.5536C21.0484 31.9846 21.3493 32.4966 22.1693 32.335C28.7309 30.18 33.4609 24.0933 33.4609 16.9023C33.4879 7.90637 26.0788 0.634766 16.9746 0.634766Z')
            a.footer-bottom-each-social-media(href='https://www.linkedin.com/company/node101/' target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 34 33' xmlns='http://www.w3.org/2000/svg')
                path(d='M31.0182 0H2.89727C1.5502 0 0.460938 1.06348 0.460938 2.37832V30.6152C0.460938 31.9301 1.5502 33 2.89727 33H31.0182C32.3652 33 33.4609 31.9301 33.4609 30.6217V2.37832C33.4609 1.06348 32.3652 0 31.0182 0ZM10.2514 28.1209H5.35293V12.3686H10.2514V28.1209ZM7.80215 10.2223C6.22949 10.2223 4.95977 8.95254 4.95977 7.38633C4.95977 5.82012 6.22949 4.55039 7.80215 4.55039C9.36836 4.55039 10.6381 5.82012 10.6381 7.38633C10.6381 8.94609 9.36836 10.2223 7.80215 10.2223ZM28.5818 28.1209H23.6898V20.4639C23.6898 18.6398 23.6576 16.2873 21.1439 16.2873C18.598 16.2873 18.2113 18.2789 18.2113 20.335V28.1209H13.3258V12.3686H18.018V14.5213H18.0824C18.7334 13.2838 20.3318 11.9754 22.7102 11.9754C27.6666 11.9754 28.5818 15.2367 28.5818 19.4777V28.1209Z')
            a.footer-bottom-each-social-media(href=(page_lang == 'tr' ? 'https://open.spotify.com/show/0ocAj5RGbBVXcABbGV2ZC9' : 'https://open.spotify.com/show/5qQyR3JUUOYYfSJsulb9A7') target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 34 33' xmlns='http://www.w3.org/2000/svg')
                path(d='M16.9612 0C7.84857 0 0.460938 7.38743 0.460938 16.5001C0.460938 25.6132 7.84857 33 16.9612 33C26.0749 33 33.4617 25.6132 33.4617 16.5001C33.4617 7.38802 26.0749 0.000788135 16.961 0.000788135L16.9612 0ZM24.5282 23.7979C24.2326 24.2826 23.5982 24.4363 23.1135 24.1387C19.2393 21.7724 14.3623 21.2364 8.61877 22.5487C8.0653 22.6748 7.51361 22.328 7.3875 21.7743C7.26081 21.2207 7.60621 20.669 8.16106 20.5429C14.4465 19.1063 19.8379 19.7252 24.1873 22.3832C24.672 22.6807 24.8257 23.3132 24.5282 23.7979ZM26.5478 19.3045C26.1754 19.9104 25.3833 20.1015 24.7784 19.7291C20.3431 17.0023 13.5823 16.2128 8.33623 17.8053C7.65586 18.0108 6.93728 17.6273 6.73079 16.9482C6.52587 16.2678 6.9095 15.5506 7.58868 15.3437C13.5811 13.5255 21.0308 14.4062 26.1241 17.5361C26.729 17.9085 26.9202 18.7004 26.5478 19.3045ZM26.7212 14.6261C21.4032 11.4674 12.6292 11.177 7.55183 12.718C6.7365 12.9653 5.87427 12.505 5.62719 11.6897C5.38011 10.874 5.83999 10.0123 6.65591 9.76446C12.4844 7.99509 22.1736 8.33694 28.2963 11.9716C29.0312 12.4069 29.2716 13.354 28.8361 14.0864C28.4027 14.8198 27.4529 15.0615 26.7219 14.6261H26.7212Z')
            a.footer-bottom-each-social-media(href=(page_lang == 'tr' ? 'https://www.youtube.com/@node101turkiye/' : 'https://www.youtube.com/@node101') target='_blank')
              svg.footer-bottom-each-social-media-icon(viewbox='0 0 34 25' xmlns='http://www.w3.org/2000/svg')
                path(d='M33.1322 5.89961C33.1322 5.89961 32.81 3.62441 31.8174 2.62539C30.5605 1.31055 29.1555 1.3041 28.5109 1.22676C23.8961 0.891601 16.9674 0.891602 16.9674 0.891602H16.9545C16.9545 0.891602 10.0258 0.891601 5.41094 1.22676C4.76641 1.3041 3.36133 1.31055 2.10449 2.62539C1.11191 3.62441 0.796094 5.89961 0.796094 5.89961C0.796094 5.89961 0.460938 8.57441 0.460938 11.2428V13.7436C0.460938 16.4119 0.789648 19.0867 0.789648 19.0867C0.789648 19.0867 1.11191 21.3619 2.09805 22.3609C3.35488 23.6758 5.00488 23.6307 5.73965 23.7725C8.38223 24.0238 16.9609 24.1012 16.9609 24.1012C16.9609 24.1012 23.8961 24.0883 28.5109 23.7596C29.1555 23.6822 30.5605 23.6758 31.8174 22.3609C32.81 21.3619 33.1322 19.0867 33.1322 19.0867C33.1322 19.0867 33.4609 16.4184 33.4609 13.7436V11.2428C33.4609 8.57441 33.1322 5.89961 33.1322 5.89961ZM13.5514 16.7793V7.50449L22.4652 12.158L13.5514 16.7793Z')
      svg.foooter-background-shape(viewbox='0 0 518 493' xmlns='http://www.w3.org/2000/svg')
        path(d='M304.885 109.901C311.922 75.5882 318.866 41.5538 325.903 7.14841C307.385 2.51157 289.33 0.100411 270.997 0.00767602C201.555 -0.456002 138.964 20.1316 86.3733 65.9436C39.8006 106.562 12.1163 158.588 3.13512 219.98C-5.19794 277.013 2.85724 331.635 29.9861 382.64C69.1516 456.088 129.705 502.085 211.092 519.242C267.294 531.112 322.107 524.62 373.957 499.86C438.77 468.885 485.806 420.199 509.231 351.851C542.193 255.498 478.676 150.52 378.216 133.549C327.384 124.924 281.182 136.053 241.924 170.365C210.536 197.815 188.87 231.386 181 273.118C178.222 288.141 177.944 303.165 179.426 318.373C179.796 322.361 181.833 323.196 185.259 323.567C214.98 326.812 244.609 330.151 274.331 333.49C280.997 334.231 287.571 334.973 294.33 335.715C291.83 328.482 288.867 321.897 287.386 315.035C281.182 287.585 293.682 262.268 319.329 247.244C347.014 231.108 373.402 238.991 390.346 254.385C410.808 273.025 416.086 302.144 404.142 327.276C376.457 385.237 318.496 419.92 254.331 416.767C183.5 413.336 121.65 358.807 109.984 288.79C101.373 236.95 114.798 191.324 150.631 152.838C173.223 128.541 200.074 111.199 233.591 106.099C256.276 102.667 278.59 104.615 300.904 109.252C302.107 109.53 303.311 109.623 304.885 109.901Z')
