extends ../partials/header
block main
  .start-page-top-line
    .start-page-top-line-one
    .start-page-top-line-two
  .content-inner-wrapper
    //- .start-page-background
      .start-page-background-shape-wrapper
        .start-page-background-shape-one-wrapper
          svg.start-page-background-shape-one(viewbox='0 0 1467 1077' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1379.7 1068.36C1439.22 983.765 1468.15 873.17 1441.9 782.45C1400.28 638.331 1252.69 576.289 1124.17 552.226C1021.95 533.089 858.847 584.8 756.39 641.5C617.708 718.272 541.824 739.775 395.48 729.602C252.663 719.683 138.561 621.803 66.5746 498.46C-12.0836 363.696 21.8979 246.764 25.0483 78.0425C25.5254 52.4108 26.2319 26.7716 27.2629 1.0874' stroke='url(#paint0_linear_34_5)' stroke-width='30' stroke-miterlimit='10')
            defs
              lineargradient#paint0_linear_34_5(x1='-1885.11' y1='-1791.51' x2='1583.37' y2='1398.32' gradientunits='userSpaceOnUse')
                stop(stop-color='#281E29' stop-opacity='0.13')
                stop(offset='1' stop-color='#DFE5FF')
        .start-page-background-shape-two-wrapper
        .start-page-background-shape-three-wrapper
    .start-page-content
      .start-page-external-link-wrapper.start-page-external-klein-wrapper
      .start-page-external-link-wrapper.start-page-external-events-wrapper
      .start-page-header-wrapper
        - let start_page_text = [__('FOR YOU TO'), __('MAKE MOST OF'), __('THE'), __('DISTRIBUTED'), __('VALUE')]
        h1.start-page-header-each-line
          each letter in start_page_text[0].split('')
            span= letter
        h1.start-page-header-each-line
          each letter in start_page_text[1].split('')
            span= letter
        h1.start-page-header-each-line
          each letter in start_page_text[2].split('')
            span= letter
        h1.start-page-header-each-line
          each letter in start_page_text[3].split('')
            span= letter
        .start-page-last-line-wrapper
          h1.start-page-header-each-line
            each letter in start_page_text[4].split('')
              span= letter
          h2.start-page-description= __('World is changing, and there are a lot of new values emerging with blockchain technology. Now, it is the time to distribute the value.')
      //- .start-page-social-media-wrapper
        a.start-page-each-social-media-button
          svg.start-page-each-social-media-icon(viewbox='0 0 26 23' xmlns='http://www.w3.org/2000/svg')
            path(d='M19.9585 0H23.792L15.4169 9.70726L25.2695 22.9167H17.555L11.5128 14.9052L4.59902 22.9167H0.763204L9.72116 12.5337L0.269531 0H8.17988L13.6416 7.32276L19.9585 0ZM18.6131 20.5897H20.7372L7.02566 2.2047H4.74619L18.6131 20.5897Z')
        a.start-page-each-social-media-button
          svg.start-page-each-social-media-icon(viewbox='0 0 25 26' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M25 12.6923C25 19.5958 19.4036 25.1923 12.5 25.1923C5.59644 25.1923 0 19.5958 0 12.6923C0 5.7887 5.59644 0.192261 12.5 0.192261C19.4036 0.192261 25 5.7887 25 12.6923ZM12.9479 9.42031C11.7321 9.92601 9.30223 10.9727 5.65822 12.5603C5.06649 12.7956 4.75652 13.0258 4.7283 13.2509C4.68061 13.6313 5.15699 13.7811 5.8057 13.9851C5.89394 14.0128 5.98537 14.0416 6.0791 14.0721C6.71733 14.2795 7.57586 14.5222 8.02217 14.5319C8.42702 14.5406 8.87888 14.3737 9.37775 14.0312C12.7825 11.7329 14.54 10.5712 14.6503 10.5462C14.7282 10.5285 14.836 10.5063 14.9091 10.5713C14.9822 10.6362 14.975 10.7593 14.9673 10.7923C14.9201 10.9934 13.0501 12.7319 12.0824 13.6316C11.7807 13.9121 11.5667 14.111 11.523 14.1565C11.425 14.2582 11.3251 14.3545 11.2291 14.4471C10.6362 15.0186 10.1916 15.4473 11.2538 16.1472C11.7642 16.4836 12.1727 16.7618 12.5802 17.0393C13.0252 17.3423 13.4691 17.6446 14.0433 18.0211C14.1897 18.117 14.3294 18.2166 14.4655 18.3136C14.9834 18.6829 15.4487 19.0146 16.0235 18.9617C16.3575 18.9309 16.7026 18.6169 16.8778 17.6801C17.2919 15.4664 18.1059 10.6698 18.294 8.69327C18.3105 8.5201 18.2897 8.29848 18.2731 8.20119C18.2564 8.1039 18.2216 7.96529 18.0952 7.86268C17.9454 7.74115 17.7142 7.71553 17.6108 7.71735C17.1406 7.72563 16.4193 7.97644 12.9479 9.42031Z')
        a.start-page-each-social-media-button
          svg.start-page-each-social-media-icon(viewbox='0 0 25 25' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M12.5103 0.192261C5.59245 0.192261 0 5.70105 0 12.5162C0 17.9639 3.58327 22.5752 8.55422 24.2073C9.17572 24.33 9.40337 23.9422 9.40337 23.6159C9.40337 23.3302 9.38288 22.3509 9.38288 21.3305C5.90281 22.0652 5.17812 19.8614 5.17812 19.8614C4.61885 18.4331 3.79018 18.066 3.79018 18.066C2.65116 17.3111 3.87315 17.3111 3.87315 17.3111C5.13663 17.3927 5.79961 18.5761 5.79961 18.5761C6.9179 20.4531 8.7199 19.9227 9.44486 19.5962C9.54831 18.8005 9.87993 18.2496 10.232 17.9436C7.45642 17.6579 4.53613 16.5969 4.53613 11.8631C4.53613 10.5165 5.03292 9.41473 5.8201 8.55786C5.6959 8.25187 5.26083 6.9866 5.94455 5.29315C5.94455 5.29315 7.00086 4.96663 9.38263 6.55817C10.4023 6.28841 11.454 6.15117 12.5103 6.15002C13.5667 6.15002 14.6435 6.293 15.6378 6.55817C18.0198 4.96663 19.0761 5.29315 19.0761 5.29315C19.7599 6.9866 19.3245 8.25187 19.2003 8.55786C20.0083 9.41473 20.4846 10.5165 20.4846 11.8631C20.4846 16.5969 17.5643 17.6374 14.7679 17.9436C15.2237 18.3312 15.6171 19.0656 15.6171 20.2287C15.6171 21.8814 15.5966 23.2077 15.5966 23.6156C15.5966 23.9422 15.8245 24.33 16.4457 24.2076C21.4167 22.575 24.9999 17.9639 24.9999 12.5162C25.0204 5.70105 19.4075 0.192261 12.5103 0.192261Z')
    .portfolio-wrapper
      .portfolio-header-wrapper
        .portfolio-header-text-wrapper
          h2.portfolio-header-subtitle= __('node101 is validating and distributing the value in more than 15 blockchains, all with different visions for their community.')
          h1.portfolio-header-title= __('Start distributing and increasing your value, stake now.')
        .portfolio-header-color-wrapper
          .portfolio-header-color-top-line
          .portfolio-header-color-bottom-line
      .portfolio-content-wrapper
        if portfolio && portfolio.length
          .portfolio-content-project-wrapper-by-five
            - for (let line = 0; line < parseInt(portfolio.length / 5) + (portfolio.length % 5 ? 1 : 0); line++)
              .portfolio-content-project-each-line
                - for (let i = line * 5; i < Math.min(portfolio.length, 5 * (line + 1)); i++)
                  a.portfolio-content-each-project-wrapper(href=insertLanguageToLink(portfolio[i].link, lang))
                    img.portfolio-content-each-project-logo(src=portfolio[i].url width='100%' alt=portfolio[i].name)
                    .portfolio-content-each-project-content-wrapper
                      h3.portfolio-content-each-project-content-name= portfolio[i].name
                      h4.portfolio-content-each-project-content-apr= portfolio[i].apr
                  if i == portfolio.length - 1 && portfolio.length % 5
                    a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                      svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                        path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                      .portfolio-content-all-projects-link-text= __('All Projects')
            if !(portfolio.length % 5)
              .portfolio-content-project-each-line
                a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                  svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                    path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                  .portfolio-content-all-projects-link-text= __('All Projects')
          .portfolio-content-project-wrapper-by-four
            - for (let line = 0; line < parseInt(portfolio.length / 4) + (portfolio.length % 4 ? 1 : 0); line++)
              .portfolio-content-project-each-line
                - for (let i = line * 4; i < Math.min(portfolio.length, 4 * (line + 1)); i++)
                  a.portfolio-content-each-project-wrapper(href=insertLanguageToLink(portfolio[i].link, lang))
                    img.portfolio-content-each-project-logo(src=portfolio[i].url width='100%' alt=portfolio[i].name)
                    .portfolio-content-each-project-content-wrapper
                      h3.portfolio-content-each-project-content-name= portfolio[i].name
                      h4.portfolio-content-each-project-content-apr= portfolio[i].apr
                  if i == portfolio.length - 1 && portfolio.length % 4
                    a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                      svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                        path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                      .portfolio-content-all-projects-link-text= __('All Projects')
            if !(portfolio.length % 5)
              .portfolio-content-project-each-line
                a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                  svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                    path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                  .portfolio-content-all-projects-link-text= __('All Projects')
          .portfolio-content-project-wrapper-by-three
            - for (let line = 0; line < parseInt(portfolio.length / 3) + (portfolio.length % 3 ? 1 : 0); line++)
              .portfolio-content-project-each-line
                - for (let i = line * 3; i < Math.min(portfolio.length, 3 * (line + 1)); i++)
                  a.portfolio-content-each-project-wrapper(href=insertLanguageToLink(portfolio[i].link, lang))
                    img.portfolio-content-each-project-logo(src=portfolio[i].url width='100%' alt=portfolio[i].name)
                    .portfolio-content-each-project-content-wrapper
                      h3.portfolio-content-each-project-content-name= portfolio[i].name
                      h4.portfolio-content-each-project-content-apr= portfolio[i].apr
                  if i == portfolio.length - 1 && portfolio.length % 3
                    a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                      svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                        path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                      .portfolio-content-all-projects-link-text= __('All Projects')
            if !(portfolio.length % 3)
              .portfolio-content-project-each-line
                a.portfolio-content-all-projects-link(href=insertLanguageToLink('/stake-with-node101', lang))
                  svg.portfolio-content-all-projects-link-icon(viewbox='0 0 106 104' xmlns='http://www.w3.org/2000/svg')
                    path(d='M86.5767 103.341C86.7321 103.366 89.9359 102.033 93.6953 100.379C97.455 98.7249 100.479 97.2309 100.417 97.0592C100.353 96.8875 98.9743 94.3689 97.3515 91.4625C94.093 85.6259 91.1984 78.1257 90.1668 72.8485C86.9529 56.4013 91.4511 40.5201 102.628 28.8545L105.474 25.8838L101.469 20.5657L97.463 15.2473L94.1427 16.9565C72.3899 28.1548 48.7261 22.8665 29.7558 2.56811C28.5172 1.24255 27.4462 0.201988 27.3756 0.255131C26.726 0.74441 17.963 11.5075 17.9179 11.8712C17.8853 12.1342 19.0123 13.4027 20.4223 14.6891C36.0342 28.9357 55.1218 35.7204 70.9468 32.6492L74.7428 31.9125L17.7365 75.0153L0.489087 88.1114L8.59562 98.8743L26.0374 85.843L83.0691 43.0541L80.9338 47.5121C75.3942 59.0767 75.1644 73.7506 80.2789 89.3621C81.7357 93.8099 85.9882 103.249 86.5767 103.341Z')
                  .portfolio-content-all-projects-link-text= __('All Projects')
    .services-wrapper
      .services-header-wrapper
        h2.services-header-subtitle= __('Validator')
        h1.services-header-title= __('Services')
      if services && services.length >= 6
        .services-content-wrapper
          .services-content-each-line-wrapper
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[0].title
              h2.services-content-each-service-description= services[0].description
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[1].title
              h2.services-content-each-service-description= services[1].description
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[2].title
              h2.services-content-each-service-description= services[2].description
          .services-content-each-line-wrapper
            .services-content-description-wrapper
              h1.services-content-description-title= __('That we could do or are already doing,')
              h2.services-content-description-subtitle= __('Visit services page to discover why node101 is the best partner in staking for you.')
              a.services-content-description-button(href=insertLanguageToLink('/validator-services', lang))
                .services-content-description-button-text= __('all services')
                svg.services-content-description-button-icon(viewBox='0 0 15 16' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7.37052 15.0873C7.38408 15.1012 7.79973 15.2079 8.2941 15.3242C8.78854 15.4406 9.19841 15.518 9.20501 15.4964C9.21153 15.4747 9.2627 15.1233 9.31863 14.7155C9.431 13.8965 9.70308 12.9403 9.9938 12.3423C10.9 10.4786 12.5259 9.24449 14.4978 8.92374L15 8.84204V8.01873V7.19535L14.5449 7.11716C11.563 6.60492 9.61896 4.32198 9.25529 0.905558C9.23156 0.682467 9.20318 0.5 9.19226 0.5C9.09169 0.5 7.42532 0.911201 7.39381 0.943775C7.37102 0.96733 7.38797 1.17647 7.43154 1.40845C7.91373 3.97722 9.2944 6.06751 11.0861 6.9415L11.5158 7.15116L2.67803 7.16757L0 7.178V8.84426L2.6924 8.8547L11.5094 8.87118L10.9668 9.15267C9.5592 9.88287 8.44477 11.3152 7.78849 13.2378C7.60148 13.7856 7.31929 15.0343 7.37052 15.0873Z')
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[3].title
              h2.services-content-each-service-description= services[3].description
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[4].title
              h2.services-content-each-service-description= services[4].description
          .services-content-each-line-wrapper
            article.services-content-each-service-wrapper
              h1.services-content-each-service-title= services[5].title
              h2.services-content-each-service-description= services[5].description
    if events && events.length
      .events-wrapper
        if events_title && typeof events.title == 'string' && events_title.split('').length
          .events-header-wrapper
            each letter, i in events_title.split('')
              .events-header-each-letter(style=`
                animation-delay: calc(-1 * var(--events-header-animation-duration) * ${events_title.split('') - i})
              `)= letter
        .events-description-wrapper
          h2.events-description
            span= __('We see events as the fastest way of distributing the value of blockchain. Until now, node101 organized more than 40 blockchain events and hosted more than 2000 people. Reach out to us from ')
            a.events-description-mail(href='mailto:hello@node101.io') hello@node101.io
            span= __(' to discuss how we can help you reach the Turkish community.')
        .events-links-wrapper
          .events-links-individual-wrapper
            each event in events
              a.events-links-each-individual-event(href=event.link)
                img.events-links-each-individual-event-image(src=event.logo alt=event.name)
          a.events-links-all-events-button(href=insertLanguageToLink('https://events.node101.io', lang) target='_blank')
            .events-links-all-events-button-text events.node101
            svg.events-links-all-events-button-icon(viewbox='0 0 19 20' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z')
        .events-content-wrapper
          .events-content-navbar-wrapper
            .events-content-navbar-header-wrapper
              h1.events-content-navbar-header-title= __('Events')
              svg.events-content-navbar-header-icon(viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M17.384 9.63401C17.1496 9.86835 16.8317 10 16.5003 10C16.1688 10 15.8509 9.86835 15.6165 9.63401L9.00027 3.01776L2.38402 9.63401C2.26871 9.7534 2.13078 9.84863 1.97827 9.91414C1.82577 9.97965 1.66174 10.0141 1.49577 10.0156C1.32979 10.017 1.16519 9.98539 1.01157 9.92254C0.857953 9.85969 0.718388 9.76687 0.601023 9.64951C0.483657 9.53214 0.390839 9.39258 0.327988 9.23896C0.265136 9.08534 0.233509 8.92074 0.234951 8.75476C0.236393 8.58879 0.270878 8.42476 0.336389 8.27226C0.401901 8.11975 0.497126 7.98182 0.616514 7.86651L8.11652 0.366515C8.35093 0.132176 8.66881 0.00053215 9.00027 0.00053215C9.33172 0.00053215 9.64961 0.132176 9.88402 0.366515L17.384 7.86651C17.6184 8.10092 17.75 8.41881 17.75 8.75026C17.75 9.08172 17.6184 9.3996 17.384 9.63401Z")
            .events-content-navbar-events-wrapper
              each event, i in events
                .events-content-navbar-each-event(id=`event-${event._id}` class=(!i ? '.events-content-navbar-each-event-selected' : ''))= event.name
          .events-content-inner-wrapper
            includes `/includes/events/event-${event._id}`
    if contributions && contributions.length
      .contributions-wrapper
        .contributions-header-wrapper
          h1.contributions-header-text
            span= __('From mass content creation to software development, node101 is helping the distributed ecosystem in various ways. ') 
            .contributions-header-highlight-text= __('Scroll to explore.')
        .contributions-content-wrapper
          .contributions-navbar-wrapper
            .contributions-navbar-scroll-wrapper
            svg.contributions-navbar-selected-icon(viewbox='0 0 51 53' xmlns='http://www.w3.org/2000/svg')
              path(d='M25.0598 51.5416C25.1059 51.5909 26.5191 51.9679 28.1999 52.3789C29.881 52.79 31.2746 53.0636 31.297 52.9872C31.3192 52.9106 31.4932 51.6691 31.6833 50.2281C32.0654 47.3344 32.9905 43.9558 33.9789 41.8428C37.06 35.2576 42.588 30.8972 49.2927 29.7639L51 29.4752V26.5662V23.6569L49.4525 23.3806C39.3142 21.5707 32.7045 13.5043 31.468 1.43297C31.3873 0.644722 31.2908 0 31.2537 0C30.9118 0 25.2461 1.45291 25.139 1.56801C25.0615 1.65123 25.1191 2.3902 25.2672 3.20986C26.9067 12.2862 31.601 19.6719 37.6926 22.76L39.1539 23.5008L9.10529 23.5588L0 23.5956L0 29.4831L9.15417 29.5199L39.1319 29.5782L37.2871 30.5728C32.5013 33.1528 28.7122 38.2138 26.4809 45.007C25.845 46.9424 24.8856 51.3545 25.0598 51.5416Z')
            .contributions-navbar-content-wrapper
              - let contributions_random_start_index = parseInt(Math.random() * contributions.length)
              - for (let i = contributions_random_start_index; i < contributions.length; i++)
                .contributions-navbar-content-each-contribution(id=`contribution-${contribution._id}` class=(i == contributions_random_start_index ? 'contributions-navbar-content-each-contribution-selected' : ''))= contributions[i].title
              - for (let i = 0; i < contributions_random_start_index; i++)
                .contributions-navbar-content-each-contribution(id=`contribution-${contribution._id}`)= contributions[i].title
            .contributions-navbar-border
          .contributions-content-wrapper
            includes `/includes/contributions/contribution-${contribution._id}`
    .team-wrapper
      .team-background-wrapper
        svg.team-background(viewBox="0 0 1806 827" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M-345 302.339C-264.122 342.872 -225.965 324.571 -168 394.001C-82.5691 497.601 -46.6279 577.058 21.3721 708.322C81.8605 805.98 231.023 828.976 314.837 761.763C398.651 694.549 433.013 636.56 588.345 508.746C679.694 433.646 828.775 279.195 1030.81 292.85C1132.89 299.756 1251.58 381.562 1345.91 424.114C1461.52 476.272 1483.13 480.524 1545.52 492.869C1619.63 507.555 1768.21 555.381 1933 424.114C1992.17 333.498 2009.26 66.1736 1740.5 79.0004C1520.5 89.5 1544 232.5 1586.5 269.5C1629 306.5 1726.12 289 1714.5 188.5C1702.88 88 1489.5 -27.1266 1414 -36.5" stroke="#FBFFE0" stroke-width="52" stroke-miterlimit="10")
      .team-header-wrapper
        .team-header-description= __('How do we achieve it all? By having one of the best teams in the ecosystem, all members with the vision of helping, growing, and distributing the value.')
        .team-header-color
      .team-content-wrapper
        .team-content-images-wrapper
        .team-content-button(href=insertLanguageToLink('/about-us', lang))
          .team-content-button-text= __('101 team')
          svg.team-content-button-icon(viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg")
            path(d="M9.33599 18.9772C9.35317 18.9949 9.87966 19.13 10.5059 19.2774C11.1321 19.4247 11.6513 19.5228 11.6597 19.4954C11.6679 19.468 11.7327 19.0229 11.8036 18.5063C11.9459 17.4689 12.2906 16.2577 12.6588 15.5003C13.8067 13.1395 15.8661 11.5764 18.3639 11.1701L19 11.0666V10.0237V8.98077L18.4235 8.88173C14.6465 8.2329 12.184 5.34118 11.7234 1.01371C11.6933 0.731127 11.6574 0.5 11.6435 0.5C11.5161 0.5 9.40541 1.02085 9.36549 1.06212C9.33663 1.09195 9.3581 1.35686 9.41328 1.6507C10.0241 4.90448 11.7729 7.55217 14.0424 8.65923L14.5867 8.9248L3.39217 8.94559L0 8.9588V11.0694L3.41038 11.0826L14.5785 11.1035L13.8913 11.46C12.1083 12.385 10.6967 14.1993 9.86543 16.6346C9.62854 17.3284 9.27111 18.9101 9.33599 18.9772Z")
      .team-footer-wrapper
        .team-footer-description
          h3.team-footer-description-text
            span= __('If you also are sharing our values, believing in our vision, and thinking that it is time to change something; reach out to us at')
            a.team-footer-description-link(href='mailto:hello@node101.io') hello@node101.io
            span= __(', and let’s discuss when you can start.')
        .team-footer-color
    .frequently-asked-questions-wrapper
      h1.frequently-asked-questions-title= __('Frequently Asked Questions')
      each question, i in frequently_asked_questions
        .frequently-asked-questions-each-question-wrapper
          .frequently-asked-questions-each-question-order= `${i < 9 ? '0' : ''}${i + 1}`
          .frequently-asked-questions-each-question-title= question.title
          .frequently-asked-questions-each-question-answer= question.answer