extends ../partials/header
block main
  .about-us-page-wrapper
    .about-us-page-frame-wrapper
      .about-us-page-frame-left-line-wrapper
        .about-us-page-frame-left-line-top-radius
        .about-us-page-frame-left-line-bottom-radius
      .about-us-page-frame-right-line-wrapper
        .about-us-page-frame-right-line-top-radius
        .about-us-page-frame-right-line-bottom-radius
      .about-us-page-frame-bottom-line-wrapper
    .about-us-page-text-wrapper
      .about-us-page-each-text= __('Hello, meet with the 101 team!')
      .about-us-page-each-text= __('Each member of the node101 team consists of competent and worthy people who have internalized 101 values, are educated, and work for the benefit of society. Each of them is a good and visionary person.')
    .about-us-page-cards-wrapper
      if team && team.length
        -
          const pairs = team.reduce((acc, _, i) => {
            if (i % 2 == 0) acc.push(team.slice(i, i + 2));
            return acc;
          }, []);
          const twoPairsByRow = pairs.reduce((acc, _, i) => {
            if (i % 2 == 0) acc.push(pairs.slice(i, i + 2));
            return acc;
          }, []);
        each row in twoPairsByRow
          .about-us-page-cards-each-row-wrapper.about-us-page-cards-each-row-wrapper-two-pairs-by-row
            each pair, i in row
              .about-us-page-each-card-pair-wrapper(class=`${i == 0 && i != row.length - 1 ? 'about-us-page-each-card-pair-wrapper-shifted' : 'about-us-page-each-card-pair-wrapper-unshifted'} ${i == row.length - 1 && i == 0 && !row[1] ? 'about-us-page-each-card-pair-wrapper-single-row' : ''}`)
                each member, j in pair
                  .about-us-page-each-card-wrapper(class=`${j == 1 ? 'about-us-page-each-card-wrapper-shifted' : ''}`)
                    .about-us-page-each-card-image-wrapper
                      img.about-us-page-each-card-image(
                        srcset=`/img/team/portrait/${member.name.toLowerCase()}-160w.png, /img/team/portrait/${member.name.toLowerCase()}-240w.png 1.5x, /img/team/portrait/${member.name.toLowerCase()}-320w.png 2x`,
                        src=`/img/team/portrait/${member.name.toLowerCase()}-160w.png`,
                        alt=`node101 team member ${member.name}`
                      )
                    .about-us-page-each-card-text-wrapper
                      .about-us-page-each-card-text= member.name
                      .about-us-page-each-card-text= member.title
                    .about-us-page-each-card-information-box(class=`${j == 1 ? 'about-us-page-each-card-information-box-alternate' : ''}`)= member.description