.events-content-each-event-wrapper.events-content-cryptist-wrapper cryptist
            //-   .events-content-each-event-wrapper
                //- .events-content-each-event-text= event.description
                //- .events-content-each-event-bottom-wrapper
                //-   .events-content-each-event-bottom-images-wrapper
                //-     .events-content-each-event-bottom-image-left
                //-       img.events-content-bottom-image-left(src=event.images[0] alt=event.name)
                //-       .events-content-bottom-title-left= event.name
                //-     .events-content-each-event-bottom-image-middle
                //-       img.events-content-bottom-image-middle(src=event.images[1] alt=event.name)
                //-     .events-content-each-event-bottom-image-right
                //-       img.events-content-bottom-image-right(src=event.images[2] alt=event.name)
                //-   .events-content-each-event-bottom-links-wrapper
                //-     each link in event.links
                //-       a.events-content-each-event-bottom-link(href=link.link target='_blank')= link.name
