.events-content-gatherings-text= __('Gatherings, where the trending topics and the future of the technology world and the Blockchain ecosystem are discussed in a cool ambiance, bring together ecosystem stakeholders from all walks of roles.')
.events-content-gatherings-bottom-wrapper
  -
    const gatherings = [
      {
        _id: 'moda-palas',
        name: __('Moda Palas | Private Monthly Gatherings'),
        link: insertLanguageToLink('https://events.node101.io/moda-palas', lang)
      },
      {
        _id: 'modular-meetup',
        name: __('Celestia Modular Meetups'),
        link: 'https://lu.ma/Modular-Meetup-Istanbul-3'
      },
      {
        _id: 'sui-moda-palas',
        name: __('SUI Moda Palas'),
        link: 'https://lu.ma/suimodapalas'
      },
      {
        _id: 'mina-palas',
        name: __('Mina Moda Palas'),
        link: 'https://lu.ma/minapalas'
      },
      {
        _id: 'sui-iftar',
        name: __('SUI Iftar'),
        link: 'https://lu.ma/suiftar'
      },
      {
        _id: 'nym',
        name: __('NYM Community Gathering'),
        link: insertLanguageToLink('https://events.node101.io/nym-community-gathering', lang)
      }
    ];
  each gathering in gatherings
    a.events-content-gatherings-each-card-wrapper(href=gathering.link target='_blank' draggable='false')
      img.events-content-gatherings-each-card-image(
        loading='lazy'
        srcset=`/img/events/gatherings/${gathering._id}-160w.webp, /img/events/gatherings/${gathering._id}-320w.webp 2x`,
        src=`/img/events/gatherings/${gathering._id}-320w.webp`
        alt=gathering.name
        draggable='false'
      )
      .events-content-gatherings-each-card-text= gathering.name
