.events-content-workshops-text= __('101 supports the Turkish Blockchain Builder Ecosystem by training developers through workshops, covering various language families and blockchain projects with specific curriculums, to enable them to create profitable products for humanity\'s benefit while promoting the blockchain philosophy.')
.events-content-workshops-bottom-wrapper
  -
    const workshops = [
      {
        _id: 'cosmos',
        name: 'Cosmos Workshops',
        link: 'https://lu.ma/CosmosAnkaraWorkshop'
      },
      {
        _id: 'agoric',
        name: 'Agoric Workshops',
        link: 'https://lu.ma/orchestrate-istanbul'
      },
      {
        _id: 'sui',
        name: 'Sui Move Workshops',
        link: insertLanguageToLink('events.node101.io/sui-move-workshops', lang)
      },
      {
        _id: 'lambda',
        name: 'LambdaClass Workshops',
        link: 'https://lu.ma/cryptist'
      },
      {
        _id: 'antalpha',
        name: 'Antalpha Workshops',
        link: 'https://lu.ma/cryptist'
      }
    ];
  each workshop in workshops
    a.events-content-workshops-each-card-wrapper(href=workshop.link target='_blank' draggable='false')
      img.events-content-workshops-each-card-image(
        loading='lazy'
        srcset=`/img/events/workshops/${workshop._id}-160w.png, /img/events/workshops/${workshop._id}-320w.png 2x`
        src=`/img/events/workshops/${workshop._id}-320w.png`
        alt=workshop.name
        draggable='false'
      )
      .events-content-workshops-each-card-text= __(workshop.name)
