.contributions-content-101-telegram-dialog-wrapper
  -
    const message_1_delay = .5;
    const message_2_delay = 1.5;
    const message_3_delay = 2.5;
    const message_4_delay = 3.5;
  .contributions-content-101-telegram-each-left-message-wrapper(style=`animation-delay: ${message_1_delay}s;`)
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-1-left.png' alt='telegram message' loading='lazy')
    .contributions-content-101-telegram-each-left-message-text(style=`animation-delay: ${message_1_delay}s;`)= __('Hello!')
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-1-right.png' alt='telegram message' loading='lazy')
  video.contributions-content-101-telegram-each-sticker(style=`animation-delay: ${message_2_delay}s;` alt='telegram sticker' autoplay='' muted='' loop='' playsinline='')
    source(src='/img/contributions/101-telegram/duck-sticker.webm' type='video/webm')
  .contributions-content-101-telegram-each-right-message-wrapper(style=`animation-delay: ${message_3_delay}s;`)
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-2-left.png' alt='telegram message' loading='lazy')
    .contributions-content-101-telegram-each-right-message-text(style=`animation-delay: ${message_3_delay}s;`)= __('Heyy welcome to node101')
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-2-right.png' alt='telegram message' loading='lazy')
  .contributions-content-101-telegram-each-right-message-wrapper(style=`animation-delay: ${message_4_delay}s;`)
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-2-left.png' alt='telegram message' loading='lazy')
    - for (let i = 0; i < 5; i++)
      .contributions-content-101-telegram-each-right-message-text.contributions-content-101-telegram-each-right-message-text-bouncing(style=`animation-delay: ${message_4_delay + i / 10}s;`)= '.'
    img.contributions-content-101-telegram-each-message-part(src='/img/contributions/101-telegram/message-2-right.png' alt='telegram message' loading='lazy')
.contributions-content-101-telegram-title= __('Telegram Group')
.contributions-content-101-telegram-each-text= __('node101 Telegram Group & Support Team')
.contributions-content-101-telegram-each-text= __('Before all, we believe blockchain is about people. Our telegram group is there for our members, where they can ask any questions they have about blockchain. We would love to see you there with us, either to ask or answer a question.')
a.contributions-content-101-telegram-link(href='https://t.me/node101' target='_blank')
  svg.contributions-content-101-telegram-link-icon(viewbox='0 0 33 33' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M33 16.5C33 25.6127 25.6127 33 16.5 33C7.3873 33 0 25.6127 0 16.5C0 7.3873 7.3873 0 16.5 0C25.6127 0 33 7.3873 33 16.5ZM17.0913 12.181C15.4864 12.8485 12.2789 14.2301 7.46885 16.3258C6.68777 16.6364 6.2786 16.9403 6.24136 17.2374C6.17841 17.7396 6.80723 17.9373 7.66352 18.2065C7.78 18.2432 7.90069 18.2811 8.02441 18.3213C8.86688 18.5952 10.0001 18.9156 10.5893 18.9283C11.1237 18.9398 11.7201 18.7195 12.3786 18.2673C16.8728 15.2336 19.1928 13.7002 19.3384 13.6672C19.4412 13.6439 19.5836 13.6145 19.6801 13.7003C19.7765 13.786 19.767 13.9484 19.7568 13.992C19.6945 14.2576 17.2262 16.5524 15.9488 17.7399C15.5506 18.1102 15.2681 18.3728 15.2104 18.4327C15.081 18.5671 14.9492 18.6942 14.8225 18.8163C14.0398 19.5708 13.4529 20.1366 14.855 21.0606C15.5288 21.5046 16.0679 21.8718 16.6058 22.2381C17.1932 22.6381 17.7791 23.0371 18.5372 23.534C18.7304 23.6606 18.9148 23.7921 19.0945 23.9202C19.7781 24.4076 20.3923 24.8454 21.1511 24.7756C21.592 24.735 22.0474 24.3205 22.2787 23.084C22.8253 20.1618 23.8997 13.8304 24.148 11.2213C24.1698 10.9928 24.1424 10.7002 24.1205 10.5718C24.0985 10.4434 24.0526 10.2604 23.8856 10.1249C23.6879 9.96454 23.3827 9.93071 23.2463 9.93312C22.6257 9.94405 21.6735 10.2751 17.0913 12.181Z')
  .contributions-content-101-telegram-link-text= __('Join the Telegram Group')
  svg.contributions-content-101-telegram-link-icon(viewBox='-3 -3 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M6.43357 13.1866C6.4454 13.1988 6.80821 13.2919 7.23974 13.3934C7.67132 13.495 8.02909 13.5626 8.03485 13.5437C8.04055 13.5248 8.08521 13.2181 8.13403 12.8621C8.23212 12.1472 8.46961 11.3126 8.72337 10.7906C9.51437 9.16376 10.9336 8.08658 12.6549 7.8066L13.0932 7.73529V7.01664V6.29793L12.6959 6.22967C10.0931 5.78255 8.39618 3.78983 8.07874 0.807704C8.05803 0.612974 8.03326 0.453703 8.02372 0.453703C7.93594 0.453703 6.4814 0.812632 6.4539 0.841065C6.434 0.861626 6.4488 1.04418 6.48683 1.24667C6.90773 3.4889 8.11288 5.31346 9.67679 6.07635L10.0519 6.25935L2.33759 6.27368L0 6.28278L0 7.73723L2.35014 7.74634L10.0463 7.76072L9.57268 8.00643C8.34401 8.6438 7.37125 9.89409 6.79841 11.5723C6.63517 12.0504 6.38885 13.1404 6.43357 13.1866Z')
